

body {
    font-family: Helvetica;
    /*margin-top: 0px;
    margin-bottom: 0px;*/
    margin: 0px;
}

canvas {
    display: block;
    margin: auto;
}

h1 {
    display: block;
    margin: 10px;
}

h3 {
    margin: 10px;
}

h1, h2, h3 {
    color: navy;
}

h1.one{
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

p {
    text-indent: 40px;
}

p.one {
    border-top: 4px solid lightgrey;
}

header{
    padding-left: 20px;
    padding-right: 20px;
    width: 1200px;
    margin: auto;
    background-color: navy;
    clear: left;
    text-align: center;
    /*box-shadow: 0 0 20px black;*/

    font-family: Bookman Old Style;
    font-size: 40px;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

#page-wrap {
    position: relative;
    width: 1200px; 
    margin: 50px auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    background: white;
    /*-moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;*/
}

#text-container {
    position: relative;
    margin-top: 25px;
    width: 1200px;
    height: 750px;
}

#overview {
    position: absolute;
    padding-left: 5px;
    width: 645px;
    height: 500px;
}

#about {
    position: absolute;
    padding-left: 5px;
    width: 495px;
    left: 700px;
}

#attributions {
    position: absolute;
    padding-left: 5px;
    width: 645px;
    top: 500px;

}

#game-container {
    position: relative;
    margin-top: 25px;
    width: 1200px;
    height: 480px;
}

#gameDiv {
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 0;
}
#gameDiv2 {
    position: absolute;
    top: 0;
    left: 600px;
    z-index: 0;
}

